<div class="card-deck category">
    {% for cat in cats %}  
        <a href="#">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title"><i class="{{ cat.categoryIcon }}"></i></h5>
                    <p class="card-text">{{ cat.title }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
</div>