<div class="row">
    <div class="col-md-8">
        <div class="card card_places bg-dark text-white">
            <div class="inner">
                <img class="card-img" src="https://lh3.googleusercontent.com/proxy/qCidEcDIZEjOyGj7kWriG0Gwincq-P4vYJlfqhPpHX7B-u8gUGkd76YIWWluNexn3OJ3amX4QKrSY_YDWc0h3D6Qm2d5HbAc2Jj_nuqlqVjFgSiUvuxp020ydk0" alt="Card image">
                </div>
            <div class="card-img-overlay">
                <h5 class="card-title text-center places">{{ first.name }}</h5>
                <a href="#">Tous les circuits</a>
            </div>
        </div>                    
    </div>
    <div class="col-md-4">
        <div class="card card_places bg-dark text-white">
            <div class="inner">
                <img class="card-img" src="https://www.eticketgo.com/uploads/places/20200820114316Grand%20Lahou.jpg.jpg" alt="Card image">
            </div>
            <div class="card-img-overlay">
                <h5 class="card-title text-center places">{{ second.name }}</h5>
                <a href="#">Tous les circuits</a>
            </div>
        </div> 
    </div>
</div>
<div class="row my-3">
    <div class="col-md-4">
        <div class="card card_places bg-dark text-white">
            <div class="inner">
                <img class="card-img" src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-480x320/07/90/bf/cf.jpg" alt="Card image">
            </div>
            <div class="card-img-overlay">
                <h5 class="card-title text-center places">{{ third.name }} </h5>
                <a href="#">Tous les circuits</a>
            </div>
        </div>         
    </div>
    <div class="col-md-8">
        <div class="card card_places bg-dark text-white">
            <div class="inner">
                <img class="card-img" src="https://media-cdn.tripadvisor.com/media/photo-s/19/3a/38/23/my-picture-going-in-to.jpg" alt="Card image">
            </div>
            <div class="card-img-overlay">
                <h5 class="card-title text-center places">{{ fourth.name }}</h5>
                <a href="#">Tous les circuits</a>
            </div>
        </div> 
    </div>
</div>