{% extends 'admin/base.html.twig' %}

{% block title %} Dashboard {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
           {% include "admin/partials/navigation/navigation_detail.html.twig" %} 
        </div>
        <div class="col-md-9">
            <div class="card mt-2">
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro mollitia omnis ducimus tempora molestiae vitae quod aut id corporis? Aspernatur eligendi 
                    quibusdam mollitia praesentium molestiae, doloremque distinctio officia repellat quas!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
