<div class="card mt-2">
    <div class="card-body">
        <h5 class="card-title">Filtres & Recherche</h5>
        <hr>
        <p> Filtre 1</p>
        <hr>
        <h5 class="card-title">Actions</h5>
        <hr>
        <a href="{{ path(link) }}">{{ text }}</a>
        <hr>
        <h5 class="card-title">Détails de la section</h5>
        <hr>
        <p> {{ detail_1 }}</p>
    </div>
</div>