<div class="default_bar">
    <div class="default_content">
        <div class="container">
            <h2>{{ default_content_title }}</h2>
            <p><a href="{{ path('home') }}">Accueil</a> > <span >{{ default_breadcrumbs_current }} </span> </p>
        </div>
    </div>
</div>