<header class="default">
    <a href="#">
        <img src="http://binivoyages.com/wp-content/uploads/2020/01/logo-bin.png"alt=""class="logo"/>
    </a>
    <a href="{{ path('home') }}" class="middle middle_first">Accueil</a>
    <a href="{{ path('user_listing_index') }}" class="middle">Nos Circuits</a>
    <a href="#" class="middle">A propos</a>
    <a href="#" class="right right_first"><i class="fas fa-user-plus"></i> Sign in</a>
    <b>or</b>
    <a href="#" class="right right_second">Register</a>
</header>